.button {
  padding: 10px;
  border-radius: 6px;
  border: 2px solid var(--brd-color);

  text-transform: uppercase;
  background-color: var(--bg-color);

  cursor: pointer;
}

.button_disable {
  background-color: var(--bg-color-disable);

  cursor: not-allowed;
}

.button_primary {
  background-color: var(--bg-color);
  color: var(--brd-color);
}
