.button {
  padding: 10px;
  margin: 10px;
  background-color: dodgerblue;
  border-radius: 5px;
  text-transform: uppercase;
  border: 2px solid #dcdce7;
}

.button_disable {
  background-color: #cbd0d2;

  cursor: not-allowed;
}

.button_primary {
  background-color: #0764e5;
  color: #dcdce7;

}