.radioButton{
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.radioButton__label {
  display: flex;
  align-items: center;

  margin-right: 6px;
  padding: 4px;

  text-transform: uppercase;

  cursor: pointer;
}

.radioButton__input {
  appearance: none;

  border-radius: 50%;
  height: 16px;
  width: 16px;

  border: 2px solid;
  margin-right: 6px;

  cursor: pointer;
}

.radioButton__input:checked {
  border: 2px solid;
  background-color: var(--main-blue);

  cursor: default;
}

.radioButton_primary {
  color: var(--main-blue);
}

.radioButton_warning {
  color: var(--red-delete);
}

.radioButton_success {
  color: var(--green-complete);
}

.radioButton_info {
  color: var(--yelow-info);
}
