.checkbox_primary {
  display: block;
  position: relative;
  padding-left: 48px;
  margin-bottom: 20px;

  cursor: pointer;

  font-size: 22px;
}

.hidden_checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  width: 38px;

  background-color: var(--light-blue);
  border: 2px solid var(--main-blue);
}

.checkbox_primary:hover input ~ .checkmark {
  background-color: var(--light-blue);
}

.checkbox_primary input:checked ~ .checkmark {
  background-color: var(--main-blue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_primary input:checked ~ .checkmark:after {
  display: block;
}

.checkbox_primary .checkmark:after {
  left: 14px;
  top: 6px;
  width: 8px;
  height: 16px;

  border: solid var(--white);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.checkbox_primary input:disabled~ .checkmark {
  background-color: var(--gray-disable);
  border: 2px solid var(--white-gray-tint);

  cursor: not-allowed;
}
