.task {
  margin-bottom: 12px;
  border: 2px solid var(--blue-dull);
  border-radius: 8px;
  padding: 10px;

  color: var(--main-blue);
  background-color: var(--white);
}

.completed {
  border: 2px solid var(--green-complete);
  background-color: var(--light-green-complete);
}

.rejected {
  border: 2px solid var(--red-warning);
  background-color: var(--light-red-warning);
}

.inProgress {
  border: 2px solid var(--yelow-info);
  background-color: var(--light-yelow-info);
}

.blockTask__main {
  display: flex;
}
