.tasksEditor {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid var(--main-blue);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;

  color: var(--main-blue);
  background-color: var(--white);
}

.tasksEditor__name {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.tasksEditor__panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 140px;
}
