.tasksEditor {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: 180px;
  left: -992px;

  opacity: 1;
  transition: all 0.6s;
  transform: translate(0px, 0px);

  height: 186px;
  min-width: 130px;
  border: 2px solid var(--main-blue);
  border-radius: 8px;
  padding: 8px;

  color: var(--main-blue);
  background-color: var(--white);
}

.tasksEditor__name {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.tasksEditor__panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 140px;
}

.collapsed {
  visibility: hidden;
  opacity: 0;
  transform: translate(0px, 250%);
  transition: all 0.6s;
}
