.input {
  min-height: 36px;
  min-width: 300px;

  padding-left: 8px;
}

.input:active, :hover, :focus {
  outline: var(--light-blue);
  outline-offset: var(--light-blue);
}

.label {
  margin: 0 10px 0 0;
}

.input:disabled .input_disabled {
  background-color: var(--gray-disable);
}

.input_search {
  border: none;
  min-width: 120px;
  background: transparent;
}

.input_search:focus {
  outline: 0;
  outline-offset: 0;
}
