:root {
  --bg-color: #0764e5;
  --bg-color-disable: #cbd0d2;
  --bg-color-delete: #e04545;
  --bg-color-complete: #24b226;
  --bg-color-progress: #d5a800;
  --bg-color-list: #c5daf8;
  --check-bg-color-disable: #87adf6;
  --element-bg-color: #ffffff;
  --brd-color: #dcdce7;
  --block-task-br-color: #578cd5;
}

.app_section {
  display: flex;
  justify-content: center;
}

.app_section__container {
  display: flex;
  flex-direction: column;
}
