.TasksList {
  display: flex;
  flex-direction: column;

  padding: 10px 10px 0 10px;
  min-width: 900px;
  border: 2px solid var(--block-task-br-color);
  border-radius: 8px;

  background-color: var(--bg-color-list);
}

.TasksList__option {
  display: flex;
  min-height: 40px;
  padding-left: 12px;
  padding-bottom: 12px;
}

.TasksList__option_name {
  padding: 10px;

  font-size: 1.2em;
  color: var(--bg-color);
  text-transform: uppercase;
}
