:root {
  --task-list-bg-color: #c5daf8;
}

.taskList {
  display: flex;
  flex-direction: column;

  padding: 10px 10px 0 10px;
  min-width: 720px;
  border: 2px solid var(--block-task-br-color);
  border-radius: 8px;

  background-color: var(--task-list-bg-color);
}

.taskList__option {
  display: flex;
  min-height: 40px;
  padding-left: 12px;
  padding-bottom: 12px;
}

.taskList__option_name {
  padding: 10px;

  font-size: 1.2em;
  color: var(--bg-color);
  text-transform: uppercase;
}
