:root {
  --task-list-br-color: #578cd5;
  --task-list-bg-color: #c5daf8;
}

.TaskList {
  display: flex;
  flex-direction: column;
  min-width: 720px;
  border: 2px solid var(--task-list-br-color);
  border-radius: 8px;
  background-color: var(--task-list-bg-color);
  padding: 10px 10px 0 10px;
}

.TaskList__option {
  min-height: 40px;
  padding-left: 12px;
  padding-bottom: 12px;
}
